html, body {
  margin: 0;
  padding: 0;

  /* background: linear-gradient(to top rgb(0, 0, 0), rgb(5, 200, 190)); */
  background-color: rgb(34, 30, 30);
}
canvas {
  display: block;
  position: fixed;
  left: 155px;
  top: 30px;
  
  border: solid;
  border-color: aliceblue;
  /* background-color: linear-gradient(to top rgb(0,130,130), rgb(0,0,0)); */

}
#slider{
  position : fixed;
  left: 20px;
  top: 30px;
}
#slider2{
  position : fixed;
  left: 20px;
  top: 80px;
}