html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: solid;
  border-width: 2ch;
  border-color: rgb(241, 241, 237);

  position: fixed;
  left: 50px;
}
body{
  background-color: rgb(25, 29, 31);
}
